<%- include("partials/header.ejs") %>
      <% if (locals.icon && locals.data) { %>
            <h1> <%=data.name %> weather forecast</h1>
            <div class="description">
                  <img class="weather-icon" src="<%=icon %>" alt="icon" />
                  <p><%= data.weather[0].description %></p>   
            </div>
            
            <h1 class="temperature"><%= data.main.temp %>째C</h1>
            <h3>Weather Today in <%= data.name %></h3>
            <p>Min Temp | Max Tem</p>
            <p><%= data.main.temp_min%>째 | <%= data.main.temp_max%>째</p>
            <div class="detail">
                  <div class="detail1 feel">
                        <img src="/images/temp_feel.svg" alt="temperature feel icon" height="50px" style="margin: 0px 10px;"/>
                        <div>
                              <p style="margin-bottom: 0px;">Temp Feels</p>
                              <p><%= data.main.feels_like %> 째C</p>
                        </div>
                  </div>
                  <div class="detail1 humidity">
                        <img src="/images/humidity.svg" alt="humidity icon" height="50px" style="margin: 0px 10px;"/>
                        <div>
                              <p style="margin-bottom: 0px;">Humidity</p>
                              <p><%= data.main.humidity %> %</p>
                        </div>
                  </div>
                  <div class="detail1 pressure">
                        <img src="/images/pressure.svg" alt="Pressure icon" height="50px" style="margin: 0px 10px;"/>
                        <div>
                              <p style="margin-bottom: 0px;">Pressure</p>
                              <p><%= data.main.pressure %> Pa</p>
                        </div>
                  </div>
                  <div class="detail1 w-speed">
                        <img src="/images/wind_speed_png.png" alt="Wind speed icon" height="50px" style="margin: 0px 10px;"/>
                        <div>
                              <p style="margin-bottom: 0px;">Temp Feels</p>
                              <p><%= data.wind.speed %> m/s</p>
                        </div>
                  </div>
            </div>
            
      <% }else if(locals.content){ %>
      <div class="start-box" style="text-align: center; font-size: xx-large; font-weight: 900; color: black;">
           <p style="margin-top: 20px;"><%= content %>, check spelling</p> 
        
      </div>
    <% }else{ %>
      <div class="start-box" style="text-align: center; font-size: xx-large; font-weight: 900; color: black;">
           <p style="margin-top: 20px;">Please enter the City/Town name on the searchbar
                  in order to get weather data.</p> 
        
      </div>
      <% } %>
<%- include("partials/footer.ejs") %>